<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.transactions>
    <defaultSettings timeout="00:04:00" />
  </system.transactions>

  <system.web>
    <globalization uiCulture="es-ES" culture="es-ES" enableClientBasedCulture="false" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <!--Pass produccion: Q/LtjWaVjrhrPGXVGihT8zzx5MKpIfIS -->
    <!--Pass vanti: 7iidZlOT815GJXhMI0N0bw== -->
    <add name="milano" connectionString="server=13.90.83.232,1433;database=CatalogosReplicaFinal;User ID=sa;Password=rkfyMmqrePRNP1EOh8gFmO+vjHEYmDtljDImUXm6CtQ=" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="LargeHttpBinding" maxBufferSize="40000000" maxBufferPoolSize="40000000" maxReceivedMessageSize="40000000"></binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="serviceBehavior" name="Project.POSUpdaterServices.Updater.ActualizadorVersionService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" bindingConfiguration="LargeHttpBinding"
          contract="Project.POSUpdaterServices.Updater.ActualizadorVersionService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding"
          contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>

</configuration>
