<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="transactSoap" />
        <binding name="transactSoap1" />
        <binding name="wsCambioPasswordSoap" />
        <binding name="Service1Soap" />
        <binding name="wsVentaEmpleadoSoap" />
        <binding name="wsTarjetasRegaloSoap" />
        <binding name="wsVentaMayoristaSoap" />
        <binding name="wsMercanciaDanadaSoap" />
        <binding name="wsPicosMercanciaSoap" />
        <binding name="wsNotaCreditoSoap" />
        <binding name="wsCapturaDeLuzSoap" />
        <binding name="wsCuponesSoap" />
        <binding name="VentasMilanoSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://187.141.15.7/atp_Services/transact.asmx"
        binding="basicHttpBinding" bindingConfiguration="transactSoap"
        contract="ProxyTiempoAire.transactSoap" name="transactSoap" />
      <endpoint address="http://187.141.15.7/services_payment_test/transact.asmx"
        binding="basicHttpBinding" bindingConfiguration="transactSoap1"
        contract="ProxyPagoServicios.transactSoap" name="transactSoap1" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/wsCambioPassword.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsCambioPasswordSoap"
        contract="ProxyCambioContrasenia.wsCambioPasswordSoap" name="wsCambioPasswordSoap" />
      <endpoint address="http://test.puntoclave.com.mx/exchange/service1.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap"
        contract="ProxyTipoCambio.Service1Soap" name="Service1Soap" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/WSvENTAeMPLEADO.ASMX"
        binding="basicHttpBinding" bindingConfiguration="wsVentaEmpleadoSoap"
        contract="ProxyVentaEmpleado.wsVentaEmpleadoSoap" name="wsVentaEmpleadoSoap" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/WStarjetasregalo.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsTarjetasRegaloSoap"
        contract="ProxyTarjetasRegalo.wsTarjetasRegaloSoap" name="wsTarjetasRegaloSoap" />
      <endpoint address="http://pruebas-mm:8089/wsPOS/wsMercanciaDanada.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsMercanciaDanadaSoap"
        contract="ProxyDescuentoMercanciaDaniada.wsMercanciaDanadaSoap"
        name="wsMercanciaDanadaSoap" />
      <endpoint address="http://pruebas-mm:8089/wsPOS/wsPicosMercancia.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsPicosMercanciaSoap"
        contract="ProxyDescuentoPicoMercancia.wsPicosMercanciaSoap"
        name="wsPicosMercanciaSoap" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/WSventamayorista.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsVentaMayoristaSoap"
        contract="ProxyMayoristas.wsVentaMayoristaSoap" name="wsVentaMayoristaSoap" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/wsNotaCredito.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsNotaCreditoSoap"
        contract="ProxyNotaCredito.wsNotaCreditoSoap" name="wsNotaCreditoSoap" />
      <endpoint address="http://pruebas-mm:8089/wspos/wscapturadeluz.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsCapturaDeLuzSoap"
        contract="ProxyCapturaLuz.wsCapturaDeLuzSoap" name="wsCapturaDeLuzSoap" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/wsCupones.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsCuponesSoap"
        contract="ProxyCupones.wsCuponesSoap" name="wsCuponesSoap" />
      <endpoint address="http://finlag.dyndns.org/WSMilano/VentasMilano.asmx"
        binding="basicHttpBinding" bindingConfiguration="VentasMilanoSoap"
        contract="ProxyFinlag.VentasMilanoSoap" name="VentasMilanoSoap" />
    </client>
  </system.serviceModel>
</configuration>