<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="transactSoap" />
        <binding name="transactSoap1" />
        <binding name="wsCambioPasswordSoap" />
        <binding name="Service1Soap" />
        <binding name="wsVentaEmpleadoSoap" />
        <binding name="wsTarjetasRegaloSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://187.141.15.7/atp_Services/transact.asmx"
          binding="basicHttpBinding" bindingConfiguration="transactSoap"
          contract="ProxyTiempoAire.transactSoap" name="transactSoap" />
      <endpoint address="http://187.141.15.7/services_payment_test/transact.asmx"
          binding="basicHttpBinding" bindingConfiguration="transactSoap1"
          contract="ProxyPagoServicios.transactSoap" name="transactSoap1" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/wsCambioPassword.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsCambioPasswordSoap"
          contract="ProxyCambioContrasenia.wsCambioPasswordSoap" name="wsCambioPasswordSoap" />
      <endpoint address="http://test.puntoclave.com.mx/exchange/service1.asmx"
          binding="basicHttpBinding" bindingConfiguration="Service1Soap"
          contract="ProxyTipoCambio.Service1Soap" name="Service1Soap" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/WSvENTAeMPLEADO.ASMX"
          binding="basicHttpBinding" bindingConfiguration="wsVentaEmpleadoSoap"
          contract="ProxyVentaEmpleado.wsVentaEmpleadoSoap" name="wsVentaEmpleadoSoap" />
      <endpoint address="http://pruebas-mm:8089/WSPOS/WStarjetasregalo.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsTarjetasRegaloSoap"
          contract="ProxyTarjetasRegalo.wsTarjetasRegaloSoap" name="wsTarjetasRegaloSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="logPath" value="C:\LogsMilano"/>
    <add key="base64UrlDecode" value="secreto"/>

  </appSettings>
  <connectionStrings>
    <!--Pass produccion: Q/LtjWaVjrhrPGXVGihT8zzx5MKpIfIS -->
    <!--Pass vanti: 7iidZlOT815GJXhMI0N0bw== -->
    <add name="milano" connectionString="server=13.90.83.232,1433;database=CatalogosReplicaFinal;User ID=sa;Password=rkfyMmqrePRNP1EOh8gFmO+vjHEYmDtljDImUXm6CtQ=" />
    <add name="milanoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=13.90.83.232)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SUNTEST)));User Id=SUNTEST;Password=SUNTEST_pwd;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
