<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.transactions>
    <defaultSettings timeout="00:04:00" />
  </system.transactions>

  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="4096">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Http" maxdatasize="4096">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Http" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\PosMilano\Traces\TraceFile-1.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <appSettings>
    <add key="logPath" value="C:\LogsMilano" />
    <add key="base64UrlDecode" value="secreto" />
    <add key="tiempoEsperaWebApi" value="300000" />
    <add key="servicioTCMM" value="" />
    <add key="servicioTxCMM" value="" />
    <add key="servicioTxCMMEsquemas" value="" />
    <add key="servicioTxCMMPrimerCompra" value="" />
    <add key="servicioPagoTCMM" value="" />
  </appSettings>

  <connectionStrings>
    <!--Pass produccion: Q/LtjWaVjrhrPGXVGihT8zzx5MKpIfIS -->
    <!--Pass vanti: 7iidZlOT815GJXhMI0N0bw== -->
    <!--<add name="milano" connectionString="server=13.90.83.232,1433;database=CatalogosReplicaFinal;User ID=sa;Password=rkfyMmqrePRNP1EOh8gFmO+vjHEYmDtljDImUXm6CtQ=" />-->
    <add name="milano" connectionString="server=172.16.34.6;database=PosMilano;User ID=posmilano;Password=Q/LtjWaVjrhrPGXVGihT8zzx5MKpIfIS" />
    <add name="milanoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=13.90.83.232)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SUNTEST)));User Id=SUNTEST;Password=SUNTEST_pwd;" />
  </connectionStrings>

  <system.web>
    <globalization uiCulture="es-ES" culture="es-ES" enableClientBasedCulture="false" />
    <compilation debug="true" targetFramework="4.0" />
    <!--<trust legacyCasModel="true" />-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="transactSoap" />
        <binding name="transactSoap1" />
        <binding name="wsCambioPasswordSoap" />
        <binding name="Service1Soap" />
        <binding name="wsVentaEmpleadoSoap" />
        <binding name="wsTarjetasRegaloSoap" />
        <binding name="wsVentaMayoristaSoap" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="wsMercanciaDanadaSoap" />
        <binding name="wsPicosMercanciaSoap" />
        <binding name="wsNotaCreditoSoap" />
        <binding name="wsCapturaDeLuzSoap" />
        <binding name="wsCuponesSoap" />
        <binding name="VentasMilanoSoap" />
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="LargeHttpBinding" maxBufferSize="40000000" maxBufferPoolSize="40000000" maxReceivedMessageSize="40000000"></binding>
      </webHttpBinding>

      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="transactSoap" contract="ProxyTiempoAire.transactSoap" name="transactSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="transactSoap1" contract="ProxyPagoServicios.transactSoap" name="transactSoap1" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsCambioPasswordSoap" contract="ProxyCambioContrasenia.wsCambioPasswordSoap" name="wsCambioPasswordSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="ProxyTipoCambio.Service1Soap" name="Service1Soap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsVentaEmpleadoSoap" contract="ProxyVentaEmpleado.wsVentaEmpleadoSoap" name="wsVentaEmpleadoSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsTarjetasRegaloSoap" contract="ProxyTarjetasRegalo.wsTarjetasRegaloSoap" name="wsTarjetasRegaloSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsVentaMayoristaSoap" contract="ProxyMayoristas.wsVentaMayoristaSoap" name="wsVentaMayoristaSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsMercanciaDanadaSoap" contract="ProxyDescuentoMercanciaDaniada.wsMercanciaDanadaSoap" name="wsMercanciaDanadaSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsPicosMercanciaSoap" contract="ProxyDescuentoPicoMercancia.wsPicosMercanciaSoap" name="wsPicosMercanciaSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsNotaCreditoSoap" contract="ProxyNotaCredito.wsNotaCreditoSoap" name="wsNotaCreditoSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsCapturaDeLuzSoap" contract="ProxyCapturaLuz.wsCapturaDeLuzSoap" name="wsCapturaDeLuzSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsCuponesSoap" contract="ProxyCupones.wsCuponesSoap" name="wsCuponesSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="VentasMilanoSoap" contract="ProxyFinlag.VentasMilanoSoap" name="VentasMilanoSoap" />
    </client>

    <services>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Security.SecurityService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Security.SecurityService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.ConfigGeneralesCajaTiendaService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.ConfigGeneralesCajaTiendaService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sales.FraudValidationService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Sales.FraudValidationService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.GeneralService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.GeneralService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.ProductServices">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.ProductServices" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sales.EmployeeService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Sales.EmployeeService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.InstallationService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.InstallationService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sales.DescuentosDevolucionesService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Sales.DescuentosDevolucionesService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Catalogs.FormaPagoService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Catalogs.FormaPagoService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Reportes.ReporteService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Reportes.ReporteService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Catalogs.ReasonsCodesService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Catalogs.ReasonsCodesService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sales.SalesService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Sales.SalesService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.MayoristasService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.MayoristasService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sales.FinalizarVentaService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Sales.FinalizarVentaService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sales.PaymentProcessingService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Sales.PaymentProcessingService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.PagoServiciosService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.PagoServiciosService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.ImprimirTicketService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.ImprimirTicketService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.EgresosService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.EgresosService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.General.LecturaService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.General.LecturaService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Catalogs.CatologoServicio">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Catalogs.CatologoServicio" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Apartados.ApartadoService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Apartados.ApartadoService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.MM.MelodyMilanoService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.MM.MelodyMilanoService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sales.PromotionalDiscountsService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Sales.PromotionalDiscountsService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="serviceBehavior" name="Project.Services.InicioFinDia.InicioFinDiaService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.InicioFinDia.InicioFinDiaService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.InicioFinDia.CapturaLuzService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.InicioFinDia.CapturaLuzService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.InicioFinDia.AutenticacionOfflineService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.InicioFinDia.AutenticacionOfflineService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Finlag.FinlagService">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="Project.Services.Finlag.FinlagService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Project.Services.Sincronizacion.Sincronizacionservice">
        <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" bindingConfiguration="LargeHttpBinding" contract="Project.Services.Sincronizacion.Sincronizacionservice" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp />
        </behavior>
        <behavior name="Project.Services.InicioFinDia.CapturaLuzAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Project.Services.InicioFinDia.AutenticacionOfflineAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="Project.Services.DistributorValidator, Project.Services" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.28.0" newVersion="1.1.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
