<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="C:\LogsMilano" />
    <add key="base64UrlDecode" value="secreto" />
  </appSettings>

  <connectionStrings>
    <!--Pass produccion: Q/LtjWaVjrhrPGXVGihT8zzx5MKpIfIS -->
    <!--Pass vanti: 7iidZlOT815GJXhMI0N0bw== -->
    <add name="milano" connectionString="server=13.90.83.232,1433;database=CatalogosReplicaFinal;User ID=sa;Password=rkfyMmqrePRNP1EOh8gFmO+vjHEYmDtljDImUXm6CtQ=" />
  </connectionStrings>
</configuration>
